body{
    background-color: var(--main-color);
    margin: 0;

}

*{
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --main-color: #F2EDD5;
    --second-color: #F27F3D;
    --details-color: #594138;
    --terdy-color: #E7A47A;
    --h1-font: 2rem;
    --h2-font:1rem;
    --p-font:0.5rem;
}

.cabecalho{
    background-image: url(Imagens/bg.jpg);
    background-attachment: fixed;
    height: 658px;
    background-size: cover; /*  para a foto preencher  */
    padding-top: 1px;
}

.div-cabecalho{
    margin: 250px auto 0 auto;
    width: 80%;
    text-align: center;
    color: var(--second-color);
}

.div-cabecalho h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.div-cabecalho a{
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase
}

.div-cabecalho a:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

.cabecalho nav ul{
    margin: 25px 40px 0 0;
    text-align: right;

}

.cabecalho nav ul li{
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}

.cabecalho nav a{
    background-color: #F25C5C;
    color: var(--main-color);
    padding: 5px;
    border-radius: 5px;
}

.cabecalho nav a:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}

main{
    width: 90%;
    margin: auto;
}

section{
    margin-top: 40px;
    margin-bottom: 40px;
}

article{
    background-color: var(--main-color);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--details-color);
}

article h2{
    text-align: center;
    background-color: var(--details-color);
    color: var(--main-color);
    margin-top: 0;
    text-align: center;
}

.img{
    height: 80px;
    float: left;
    padding-right: 5px;
}

img:hover{
    transform: scale(1.1);
}

footer{
    text-align: center;
    background-color: var(--details-color);
    color: var(--second-color);
    margin: 0;
    padding: 3px;
}
